# 파일 읽기

In [25]:
with open ('abc/text.txt', 'w') as f:
    f.write('hello')

In [26]:
f = open('abc/text.txt', 'r')
f.read()
f.close()

In [27]:
with open ('abc/text1.txt', 'w', encoding='utf8') as f:
    f.write('안녕하세요')
    f.write('졸리네요')

In [31]:
with open ('abc/text1.txt', 'r', encoding='utf8') as f:
    txtfile = f.read()
    print(txtfile)

안녕하세요졸리네요추가합니다
야호

In [30]:
with open ('abc/text1.txt', 'a', encoding='utf8') as f:
    f.write('추가합니다 \n')
    f.write('야호 \n')

In [36]:
with open ('abc/example.txt', 'w', encoding='utf8') as f:
    f.write('반복문을 사용하여 파일에 데이터를 저장합니다')

In [37]:
lines = [
    'Python 파일 입출력\n',
    '반복문을 사용하여 데이터를 저장합니다 \n'
    '데이터 처리가 편리합니다 \n'
]

with open ('abc/examlpe.txt', 'w', encoding='utf8') as f:
    for line in lines:
        f.write(line)

In [ ]:
lines = ["첫 번째 줄입니다.\n", "두 번째 줄입니다.\n", "세 번째 줄입니다.\n"]

with open('abc/example.txt', 'w') as f:
    f.writelines(lines)

In [40]:
with open("abc/example.txt", "r", encoding="utf-8") as file:
    content = file.read()
    print(content)

첫 번째 줄입니다.
두 번째 줄입니다.
세 번째 줄입니다.

In [41]:
with open("abc/example.txt", "r", encoding="utf-8") as file:
    line = file.readline()
    print(line)

첫 번째 줄입니다.

In [42]:
with open("abc/example.txt", "r", encoding="utf-8") as file:
    lines = file.readlines()

for line in lines:
    print(line.strip())

첫 번째 줄입니다.
두 번째 줄입니다.
세 번째 줄입니다.

# 파클, 직렬화 / 역직렬화

In [45]:
import pickle

# 직렬화할 데이터
data = {
    'name': '홍길동',
    'age': 30,
    'scores': [90, 85, 88]
}

# 직렬화하여 파일에 저장
with open('abc/data.pickle', 'wb') as f:
    pickle.dump(data, f)

# 파일에서 역직렬화하여 읽기
with open('abc/data.pickle', 'rb') as f:
    loaded_data = pickle.load(f)

print(loaded_data)  # 원본 데이터가 그대로 복원됨

{'name': '홍길동', 'age': 30, 'scores': [90, 85, 88]}

In [46]:
data

{'name': '홍길동', 'age': 30, 'scores': [90, 85, 88]}

In [47]:
import json

In [54]:
with open('abc/data.json', 'w') as f:
    json.dump(data, f, ensure_ascii=False)

In [61]:
with open('abc/data.json', 'r') as f:
    loaded_txt = json.load(f)
    
print (loaded_txt)

{'name': '홍길동', 'age': 30, 'scores': [90, 85, 88]}

In [57]:
import csv
data = [['name','age'],['bob',20],['alice',15]]
data

[['name', 'age'], ['bob', 20], ['alice', 15]]

In [58]:
with open('abc/data.csv', 'w') as f:
    wrt = csv.writer(f)
    wrt.writerows(data)

In [59]:
import pandas as pd

df = pd.DataFrame(data)
df.to_csv('abc/data_df.csv')

In [60]:
pd.read_csv('abc/data_df.csv')

   Unnamed: 0      0    1
0           0   name  age
1           1    bob   20
2           2  alice   15