# 튜플
리스트랑 비슷하지만 변경이 안된다는 특징을 갖는다

In [15]:
a=tuple()
a, type (a)

((), tuple)

In [16]:
b=(1)
b, type (b)

(1, int)

In [17]:
bb=(1, )
bb, type(bb)

((1,), tuple)

In [18]:
c=(1,2,(3,4),'5',[1,2])
c

(1, 2, (3, 4), '5', [1, 2])

In [19]:
c[0]

1

In [20]:
c[0]=3 #값 추가 못함

TypeError: 'tuple' object does not support item assignment

In [21]:
#tuple의 ( ) 괄호는 생력 가능 but 쉼표로 요소는 하나 이상이어야함
fruits='apple','peach','strawberry'
fruits, type(fruits)

(('apple', 'peach', 'strawberry'), tuple)

In [22]:
# 패킹, 언패킹

nums=[1,2,3] 
a,b,c=nums #리스트의 언패킹(unpacking)
a,b,c

(1, 2, 3)

In [23]:
#s=hello를 넣으면 에러가 뜨는데 s=hi를 넣으면 에러가 안뜸
s='hi'
a,b=s
a

'h'

In [24]:
s='hello' #packing
a,*b, c=s #unpacking * - rest는 너가 다 가져
a,b,c

('h', ['e', 'l', 'l'], 'o')

In [25]:
student=('홍길동',20,'1학년') #패킹
student

('홍길동', 20, '1학년')

In [26]:
name,age,grade=student #언패킹
f'이름은 {name}이고요, 나이는 {age}이고요, {grade}입니다.'

'이름은 홍길동이고요, 나이는 20이고요, 1학년입니다.'

In [27]:
#미션
x=1
y=2

#x=2,y=1

In [28]:
print(f'x={y}, y={x}')

x=2, y=1

In [29]:
#x=2,y=1
tmp=x
x=y
y=tmp

In [30]:
tmp=(y,x)
x,y=tmp

In [31]:
x,y=y,x #tuple의 패킹, 언패킹

In [32]:
#함수의 정의
def func_a(a,b,c):
    print(a,b,c)
    return c,b,a

#함수의 호출
result=func_a(5,4,3)
#함수의 반환값
result

5 4 3

(3, 4, 5)

In [33]:
a1,b1,c1=func_a(1,2,3)
a1,b1,c1

1 2 3

(3, 2, 1)

In [34]:
#tuple에 값을 추가하려면?
#형번환 > 리스트

In [35]:
name_tuple=('수현','석현','아빠')
name_tuple

('수현', '석현', '아빠')

In [36]:
name_list=list(name_tuple)
name_list

['수현', '석현', '아빠']

In [37]:
name_list.append('엄마')
name_list

['수현', '석현', '아빠', '엄마']

In [38]:
name_tuple=tuple(name_list)
name_tuple

('수현', '석현', '아빠', '엄마')

In [39]:
#__add__ +
#__mul__ *

In [40]:
name_tuple=('수현','석훈','형진','지영')
name_tuple

('수현', '석훈', '형진', '지영')

In [41]:
list=['수현','석훈','형진','지영']
new_list=list.__add__(['드래곤볼'])

print(new_list)

['수현', '석훈', '형진', '지영', '드래곤볼']

In [42]:
list=['수현','석훈','형진','지영']
new_list=list.__mul__(2)

print(new_list)

['수현', '석훈', '형진', '지영', '수현', '석훈', '형진', '지영']

In [43]:
t1=(1,2,3)
t2=(4,5,6)
t1+t2

(1, 2, 3, 4, 5, 6)

In [44]:
t3=t1*2
t3

(1, 2, 3, 1, 2, 3)

In [45]:
t3[0]

1

In [46]:
t3[:3]

(1, 2, 3)

In [47]:
t3[0]=2 #readonly > typerror

TypeError: 'tuple' object does not support item assignment

# 집합 (Set)

- set( ),{ }
- 중복이 안됨, 순서없음, 키 없음
- 속도 빠름, 해싱을 하는 자료형 (딕셔너리, 집합)

In [49]:
s=set([1,2,3])
s

{1, 2, 3}

In [50]:
s1={1,2,3}
s1

{1, 2, 3}

In [51]:
s2={1,2,3,1}
s2

{1, 2, 3}

In [52]:
l2=[1,2,3]
l2=l2*2
l2

[1, 2, 3, 1, 2, 3]

In [53]:
#Set으로 중복 제거
s3=set(l2)
s3

{1, 2, 3}

In [54]:
l3=l2+[4,5,6]
l3

[1, 2, 3, 1, 2, 3, 4, 5, 6]

In [55]:
l2.append([4,5,6])
l2

[1, 2, 3, 1, 2, 3, [4, 5, 6]]

In [56]:
l2,type(l2)

([1, 2, 3, 1, 2, 3, [4, 5, 6]], list)

In [57]:
hash ('hi') #해시코드 => 해싱 가능한 데어터 문자열

4601015976649337687

In [58]:
hash(123) #해싱가능: int, float, boolean

123

In [59]:
set(['hi',123]) #해싱으로 바뀐 값을 저장 > 집합 연산

{123, 'hi'}

In [60]:
l1=[1,2,3]
hash(l1)

TypeError: unhashable type: 'list'

In [61]:
hash((1,2,3))

529344067295497451

In [62]:
hash({1,2,3})

TypeError: unhashable type: 'set'

In [63]:
set((1,2,3)) #set: 해싱불가능, 요소는 해싱가능해야함

{1, 2, 3}

# Set 집합연산

- 교집합 &, intersection ( )
- 합집합 |, union ( )
- 차집합 -, difference ( )

In [ ]:
s=set([1,2,3,4])
x={2,3,4}
y={3,4,5}

In [ ]:
#교집합
x&y

In [ ]:
x.intersection(y)

In [ ]:
#합집합
x|y

In [ ]:
#차집합
x-y

In [ ]:
x.difference(y)

In [ ]:
dir(x)

# 연습

In [ ]:
#리스트 numbers가 다음과 같을 때, 첫 번째 원소와 마지막 원소의 합을 구하는 코드를 작성하세요.
numbers = [10, 20,  30,  40,  50,  60, 70, 80, 90, 100]

#답을 작성하세요.

numbers[0]+numbers[-1]

In [ ]:
#리스트 colors가 다음과 같을 때, 첫 3개 원소와 마지막 2개 원소를 슬라이싱을 사용하여 출력하는 코드를 작성하세요.
colors = ["red", "green", "blue", "yellow", "purple", "orange", "black"]
#답을 작성하세요.

colors[:3],colors[-2:]

In [ ]:
#다음 리스트에서 "korean"이라는 문자열을 찾아 출력하는 코드를 작성하세요. - indexing
list_a = [
    [1, 2, 3],
    ["red", "green", "blue"],
    [False, "korean", True]
]
# 답을 작성하세요.

list_a[2][1]

In [ ]:
for sub in list_a:
    for item in sub:
        #print(item)
        if item =='korean':
            print(item)

In [ ]:
# 리스트 list_a과 list_b가 다음과 같을 때, 두 리스트를 합쳐서 새로운 리스트 list_c를 만드는 코드를 작성하세요.
list_a = [1, 2, 3]
list_b = [4, 5, 6]

list_c=list_a+list_b
list_c

In [ ]:
#아래의 튜플 tuple_a에서 "banana"를 "blueberry"로 변경하는 코드를 작성하세요.
tuple_a = ("apple", "banana", "cherry")

tem_list=list(tuple_a)
tem_list[1]='bluebberry'
tuple_a=tuple(tem_list)

tuple_a

In [ ]:
#변수 a, b, c의 값을 사용하여 튜플 tuple_a를 생성하고 출력하는 코드를 작성하세요.
a = 5
b = 10
c = 15

tuple_a=(a,b,c)
tuple_a

In [ ]:
#튜플 numbers가 주어졌을 때, 튜플의 최대값과 최소값을 출력하는 코드를 작성하세요.
numbers = (92, 89, 72, 31, 71, 33, 19)

print('Max:',max(numbers))
print('Min:',min(numbers))

In [ ]:
#튜플 numbers가 주어졌을 때, 튜플의 최대값과 최소값을 출력하는 코드를 작성하세요.
numbers = (92, 89, 72, 31, 71, 33, 19)

max(numbers), min(numbers)

In [ ]:
#dict 타입의 student(변수명)를 생성하고, 아래의 키-값 쌍을 추가하는 코드를 작성하세요.
student={
    "name": "Alice",
    "age": 24,
    "major": "Computer Science"
}

student

In [ ]:
#dict 타입의 student(변수명)를 생성하고, 아래의 키-값 쌍을 추가하는 코드를 작성하세요.
student={}
student['name']='Alice'
student['age']=24
student['major']='Computer Science'
student

In [ ]:
#위에서 생성한 student에서, 모든 키와 값을 출력하는 코드를 작성하세요
print(student.items())
print(student.keys())
print(student.values())

In [ ]:
for k, v in student.items():
    print(f'{k}:{v}')

In [ ]:
for k in student:
    print(f'{k}')

In [ ]:
#위에서 생성한 student에서, age(나이)를 26으로 변경하세요.

student['age']=26
student

In [ ]:
#다음 딕셔너리 students에서 name의 값을 리스트(name_list)로, age의 값을 튜플(age_tuple) 만드는 코드를 작성하세요
students = {
    "student1": {"name": "Alice", "age": 24},
    "student2": {"name": "Bob", "age": 22},
    "student3": {"name": "Charlie", "age": 23}
}

In [ ]:
name_list=[]
age_list=[]

for key in students.keys():
    stu=students[key]
    name_list.append(stu['name'])
    age_list.append(stu['age'])

age_tuple=tuple(age_list)
name_list, age_tuple