# 함수

- 인자 =  매개변수, 입력, 파라미터
- 반환값 = 리턴값, 결과값
- 함수이름

- 함수 정의 > 호출

In [1]:
def my_func():
    print('my first function')
    print('hungry')
    print('sleepy')

In [2]:
# return이 없는 경우
my_func()

my first function
hungry
sleepy

In [3]:
my_func_var=my_func()
my_func_var

my first function
hungry
sleepy

In [4]:
print(my_func_var)

None

In [7]:
#return이 있는 경우
def my_func1():
    print('my first function')
    print('hungry')
    print('sleepy')
    return 'hello'

In [8]:
my_func1()

my first function
hungry
sleepy

'hello'

In [9]:
my_func_var2=my_func1()

my first function
hungry
sleepy

In [10]:
my_func_var2

'hello'

# 입력값이 있는 함수

In [17]:
def my_calc(x):
    print(f'{x}를 계산합니다.')

In [18]:
my_calc(10)

10를 계산합니다.

In [19]:
def my_calc1(x):
    print(f'{x}를 계산합니다.')
    z=x*20
    return z

In [20]:
result=my_calc1(10)
print(result)

10를 계산합니다.
200

In [21]:
def my_calc2(x,y):
    print(f'{x}와 {y}를 계산합니다.')
    add_result=x+y
    mul_result=x*y
    return add_result, mul_result

In [22]:
my_calc2(10,20)

10와 20를 계산합니다.

(30, 200)

In [24]:
func_result=my_calc2(10,20)
func_result[0]=-100

10와 20를 계산합니다.

TypeError: 'tuple' object does not support item assignment

In [25]:
func_result1, f2=my_calc2(10,20)
func_result1

10와 20를 계산합니다.

30

In [26]:
f2

200

## 입력값의 타입: 수치형 vs (리스트) 객체형

- 수치형: 값에 의한 전달 call by value
- 객체형: 값(참조)의 전달 call by reference => 같은 객체를 다룸

In [29]:
#리스트 매개변수의 실행
def my_calc3(a,list1):
    a+=1
    list1.append(a)
    return a

In [32]:
num=10
list_num=[1,2,'12']
print(f'before:{num},{list_num}')

my_calc3(num,list_num)
print(f'after:{num},{list_num}')

before:10,[1, 2, '12']
after:10,[1, 2, '12', 11]

In [33]:
my_calc3(list_num,num)

TypeError: 'int' object is not iterable

In [34]:
my_calc3(a=num,list1=list_num)

11

- 키워드 매개변수: 함수의 매개변수 목록은 변수명이 매개변수 명임
- 매개변수명을 이용한 호출을 매개변수의 순서와 무관함

In [35]:
my_calc3(list1=list_num,a=num)

11

In [45]:
#기본값, 기본인자
def greeting(name, greeting='Hello'):
    print(f'{greeting},{name}님!')

greeting(' Sue', 'Hello')

Hello, Sue님!

In [46]:
greeting(' Sue')

Hello, Sue님!

In [47]:
#가변인자
def sum_all(*args):
    return sum(args)

In [48]:
sum_all(1,2,3,4,5)

15

In [56]:
#매개변수의 순서가 중요
def sum_all(arg1, arg2, *args):
    result=arg1+arg2+sum(args)
    return result

In [52]:
sum_all(1,2,3,4,5)

15

In [93]:
#*args가 이 뒤에 별로안중요한거 다 가져가는건데 이 뒤에 specific한 arg인 arg2가 있으니까 에러뜨는거임 - *가 하나면 입력하는 순서대로 받아주는거
def sum_all(arg1, *args, arg2):
    result=arg1+arg2+sum(args)
    return result

In [57]:
sum_all(1,2,3,4,5)

15

In [63]:
## **kargs
def print_info(**kwargs):
    for k,v in kwargs.items():
        print(f'{k},{v}')

In [65]:
print_info(name='Hong', age=20,city='seoul',nick_name='Sue')

name,Hong
age,20
city,seoul
nick_name,Sue

In [97]:
import datetime
today=datetime.date(2025,6,5)
#type(today)
#dir(today)
today.weekday()

3

# 요일 구하는 함수 정의
- 입력: year, month, day
- 출력: 'Monday'
- 함수명: 요일찾기( )

In [91]:
year=2025
month=3
days=4

In [114]:
def 윤년체크(year):
    윤년여부=False
    
    if year%400==0:
        윤년여부=True
    elif year%100==0:
        윤년여부=False
    elif year%4==0:
        윤년여부=True
    else: 
        윤년여부=False

    return 윤년여부

In [115]:
윤년체크(2025)

False

In [119]:
#날짜 - 연, 월, 일 year=2025, month=06, day=05

total_days=0
#년도일수 입력년도-1*365
#윤년인지 체크 - 2월이 29일까지 있는거

for i in range(1,year):
    if 윤년체크(i):
        total_days+=366
    else:
        total_days+=365
    
    
    #윤년: 400으로 나누어 나머지가 0, 4로 나누어 나머지가 0
    #평년: 100으로 나누어 나머지가 0

#print(total_days)
#월일수 입력한 월-1*30
#월별일수
month_days=[0,31,28,31,30,31,30,31,31,30,31,30,31]
for m in range(1,month):
    total_days+=month_days[m]

#올해가 윤년인지
if month>=3:
    if 윤년체크(year):
        total_days+=1
    
print(total_days)
#일수 입력한 일 
total_days+=days

print(total_days)

#요일정하기
remain_days=total_days%7
day_names=['Sun','Mon','Tue','Wed','Thu','Fri','Sat']
week_day_name = day_names[remain_days]

return week_day_name

739402
739407

SyntaxError: 'return' outside function (1320247536.py, line 40)

In [109]:
def 요일찾기(year, month, day):
    week_day_name='일요일'
    
    return week_day_name

In [110]:
year=2025
month=6
day=5

day_name = 요일찾기(year, month, day)
print('입력하신 날짜는 {day_name}입니다.')

입력하신 날짜는 {day_name}입니다.

In [ ]:
    if i%400==0:
        total_days+=366
    elif i%100==0:
        total_days+=365
    elif i%4==0:
        total_days+=366
    else: 
        total_days+=365

In [121]:
def 요일찾기(year, month, day):
    week_day_name = '일요일'
    total_days = 0
    
    for i in range(1,year):

        if 윤년체크(i):
            total_days += 366
        else :
            total_days += 365
        
    #print(total_days)
    
    #월일수 입력한 월 -1 * 30
    #월별 일수
    month_days = [0,31,28,31,30,31,30,31,31,30,31,30,31]
    for m in range(1,month):
        total_days += month_days[m]
    
    #올해가 윤년인지
    if month>=3 :
        if 윤년체크(year):
            total_days += 1
            
    #print(total_days)
    
    #일수 입력한 일
    total_days += day
    
    #print(total_days)
    
    #요일정하기
    remain_days = total_days % 7
    
    day_names = ['일요일','월요일','화요일','수요일','목요일','금요일','토요일']
    week_day_name = day_names[remain_days]
    
        
    return week_day_name

In [123]:
def 윤년체크(year):
    return year % 400 == 0 or (year % 4 == 0 and year % 100 != 0)

def 요일찾기(year, month, day):
    total_days = 0

    # 1년부터 전년도까지 일수 누적
    for i in range(1, year):
        total_days += 366 if 윤년체크(i) else 365

    # 각 월의 일수 누적 (입력 월 전까지)
    month_days = [0, 31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
    for m in range(1, month):
        total_days += month_days[m]

    # 윤년이고 3월 이후면 하루 더함
    if month >= 3 and 윤년체크(year):
        total_days += 1

    # 일수 더하기
    total_days += day

    # 요일 계산
    remain_days = total_days % 7
    day_names = ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']
    return day_names[remain_days]

# 사용 예시
year = 2025
month = 6
day = 5

day_name = 요일찾기(year, month, day)
print(f'입력하신 날짜는 {day_name}입니다.')

입력하신 날짜는 Thu입니다.

# 성적처리 시스템

- calc_total( )
- calc_average( )
- calc_order( )

- print_student(students): 전학생의 성적을 출력
- print_class( ): 반평균, 각 과목별 평균 출력

In [133]:
students = [
               {'num':'1','name':'김철수','kor':90,'eng':80,'math':85,'total':0,'avg':0.0,'order':0 },
               {'num':'2','name':'박제동','kor':90,'eng':85,'math':90,'total':0,'avg':0.0,'order':0 },
               {'num':'3','name':'홍길동','kor':80,'eng':80,'math':80,'total':0,'avg':0.0,'order':0 }
           ]

In [134]:
def calc_total(stus):
    for s in stus:
        s['total']=s['kor']+s['eng']+s['math']

In [135]:
calc_total(students)
students

[{'num': '1',
  'name': '김철수',
  'kor': 90,
  'eng': 80,
  'math': 85,
  'total': 255,
  'avg': 0.0,
  'order': 0},
 {'num': '2',
  'name': '박제동',
  'kor': 90,
  'eng': 85,
  'math': 90,
  'total': 265,
  'avg': 0.0,
  'order': 0},
 {'num': '3',
  'name': '홍길동',
  'kor': 80,
  'eng': 80,
  'math': 80,
  'total': 240,
  'avg': 0.0,
  'order': 0}]

In [136]:
def calc_average(stus):
    for s in stus:
        s['avg']=(s['kor']+s['eng']+s['math'])/3

In [137]:
calc_average(students)
students

[{'num': '1',
  'name': '김철수',
  'kor': 90,
  'eng': 80,
  'math': 85,
  'total': 255,
  'avg': 85.0,
  'order': 0},
 {'num': '2',
  'name': '박제동',
  'kor': 90,
  'eng': 85,
  'math': 90,
  'total': 265,
  'avg': 88.33333333333333,
  'order': 0},
 {'num': '3',
  'name': '홍길동',
  'kor': 80,
  'eng': 80,
  'math': 80,
  'total': 240,
  'avg': 80.0,
  'order': 0}]

In [143]:
def calc_order(stus):
    rank=1
    for s in stus:
        if s['total']>students['total']: 
            rank += 1
    student['order']=rank

In [144]:
calc_order(students)
students

TypeError: list indices must be integers or slices, not str

In [145]:
def calc_order(students):
    # 1. 총점과 평균 계산
    for stu in students:
        stu['total'] = stu['kor'] + stu['eng'] + stu['math']
        stu['avg'] = round(stu['total'] / 3, 2)

    # 2. 등수 초기화
    for stu in students:
        stu['order'] = 1  # 기본 등수는 1등

    # 3. 등수 계산 (총점 비교)
    for i in range(len(students)):
        for j in range(len(students)):
            if students[i]['total'] < students[j]['total']:
                students[i]['order'] += 1

In [147]:
calc_order(students)
students

[{'num': '1',
  'name': '김철수',
  'kor': 90,
  'eng': 80,
  'math': 85,
  'total': 255,
  'avg': 85.0,
  'order': 2},
 {'num': '2',
  'name': '박제동',
  'kor': 90,
  'eng': 85,
  'math': 90,
  'total': 265,
  'avg': 88.33,
  'order': 1},
 {'num': '3',
  'name': '홍길동',
  'kor': 80,
  'eng': 80,
  'math': 80,
  'total': 240,
  'avg': 80.0,
  'order': 3}]

In [153]:
def calc_order(stus):
    
    for student in stus: #student[0] 자료를 꺼낸 것이 student
        rank=1
        for other in stus:
            if other['total']>student['total']: 
                rank += 1
        student['order']=rank

In [155]:
calc_order(students)
students

[{'num': '1',
  'name': '김철수',
  'kor': 90,
  'eng': 80,
  'math': 85,
  'total': 255,
  'avg': 85.0,
  'order': 2},
 {'num': '2',
  'name': '박제동',
  'kor': 90,
  'eng': 85,
  'math': 90,
  'total': 265,
  'avg': 88.33,
  'order': 1},
 {'num': '3',
  'name': '홍길동',
  'kor': 80,
  'eng': 80,
  'math': 80,
  'total': 240,
  'avg': 80.0,
  'order': 3}]

In [156]:
students

[{'num': '1',
  'name': '김철수',
  'kor': 90,
  'eng': 80,
  'math': 85,
  'total': 255,
  'avg': 85.0,
  'order': 2},
 {'num': '2',
  'name': '박제동',
  'kor': 90,
  'eng': 85,
  'math': 90,
  'total': 265,
  'avg': 88.33,
  'order': 1},
 {'num': '3',
  'name': '홍길동',
  'kor': 80,
  'eng': 80,
  'math': 80,
  'total': 240,
  'avg': 80.0,
  'order': 3}]

In [163]:
def print_student(stus):
    for s in stus:
        print(f'이름:{s['name']} 국어: {s['kor']} 영어:{s['eng']} 수학:{s['math']} 등수:{s['order']}')

In [164]:
print_student(students)

이름:김철수 국어: 90 영어:80 수학:85 등수:2
이름:박제동 국어: 90 영어:85 수학:90 등수:1
이름:홍길동 국어: 80 영어:80 수학:80 등수:3

In [166]:
def print_class(stus):
    #반평균
    class_avg=0
    kor_avg=0
    eng_avg=0
    math_avg=0
    
    #각 과목별 평균 출력
    print(f'반평균:{s['name']} 국어: {s['kor']} 영어:{s['eng']} 수학:{s['math']} ')

In [167]:
calc_total(students)
calc_average(students)
calc_order(students)
print_student(students)
print_class(students)

이름:김철수 국어: 90 영어:80 수학:85 등수:2
이름:박제동 국어: 90 영어:85 수학:90 등수:1
이름:홍길동 국어: 80 영어:80 수학:80 등수:3

NameError: name 's' is not defined

In [169]:
def calc_total(stus) :
    for s in stus:
        s['total'] = s['kor'] +  s['eng'] +  s['math']

In [170]:
def calc_average(stus):
    for s in stus:
        s['avg'] = (s['kor'] +  s['eng'] +  s['math'])/3

In [171]:
def calc_order(stus):
    
    for student in stus :  #students[0] 자료를 꺼낸 것이 student
        rank = 1
        for other in stus :
            if other['total'] > student['total'] :
                rank += 1
        student['order'] = rank
        #print(student['name'], student['order'])

In [172]:
def print_student(stus):
    for s in stus:
        print(f'이름: {s['name']} 국어: {s['kor']} 영어: {s['eng']} 수학: {s['math']} 등수: { s['order']}')

In [191]:
def print_class(stus):
    #반평균
    class_avg=0
    count=len(stus)
    
    class_avg =sum(student['total'] for student in stus)/count/3
    kor_avg =sum(student['kor'] for student in stus)/count
    eng_avg = sum(student['eng'] for student in stus)/count
    math_avg = sum(student['math'] for student in stus)/count
    
    #각 과목별 평균 출력
    print(f'반평균: {class_avg} 국어: {kor_avg} 영어: {eng_avg} 수학: {math_avg}')

In [192]:
calc_total(students)
calc_average(students)
calc_order(students)
print_student(students)
print_class(students)

이름: 김철수 국어: 90 영어: 80 수학: 85 등수: 2
이름: 박제동 국어: 90 영어: 85 수학: 90 등수: 1
이름: 홍길동 국어: 80 영어: 80 수학: 80 등수: 3
반평균: 84.44444444444444 국어: 86.66666666666667 영어: 81.66666666666667 수학: 85.0

In [196]:
# 함수 도출 - 기능의 세분화, 함수를 정의
# 함수 구현
# 문제점 - 오류처리, 예외처리

In [207]:
#1. 간식박스 생성 create
def make_snack_box():
    snack_box=['초코파이']
    new_snack=input('먹고 싶은 간식을 추가하세요. 단 쉼표(,)로 연결하세요').split(',')
    snack_box+=new_snack
    return snack_box

In [203]:
#2. 간식세트 포장 update
def multiply_snack_box(snack_box):
    qty=int(input('간식박스를 몇 세트로 포장할까요? 예: 2-> 2박스'))
    return snack_box*qty

In [209]:
#6. 간식박스 전체보기 read
def display_snack_box(snack_box):
    print(f'{snack_box[::-1]}, 총 {len(snack_box)}개 입니다.')

In [215]:
#3. 간식박스 미리보기 read - signature
#def preview_snack_box(snack_box):
#    print(f'현재 간식박스에 있는 간식은 {snack_box}입니다.')

In [ ]:
#3. 간식박스 미리보기 read - signature
def preview_snack_box(snack_box):
    preview=','.join(snack_box[:3])
    print(f'선택하신 간식은 {preview}입니다.')

In [226]:
#4. 간식삭제 delete
def remove_snack_box(snack_box):
    #예외처리
    if not snack_box:
        print('간식박스가 비어있어요.')
        return
        
    display_snack_box(snack_box)
    
    msg=f'혹시 빼고싶은 간식이 있으면 번호를 입력하세요 (0~{len(snack_box)-1})'
    snack_no=int(input(msg))
    
    #snack_no validation
    
    del snack_box[snack_no]
    return box

In [223]:
#5. 간식찾기 search
def search_snack(snack_box):
    snack_name=input('찾고싶은 간식을 입력하세요.')
    print('있어요' if snack_name in snack_box else '없어요')

In [224]:
#관리프로그램 crud처리
#1. 간식박스 생성 create
#2. 간식세트 포장 update - 기존에 만들었던 데이터를 일부만 바꿈
#3. 간식박스 미리보기 read
#4. 간식삭제 delete
#5. 간식찾기 search
#6. 간식박스 전체보기 read

In [234]:
#7. 간식박스 요약
def summarise_snacks(snack_box):
    summary={}
    for snack in snack_box:
        summary[snack]=summary.get(snack,0)+1

    print('간식박스 정리')
    for snack, qty in summary.items():
        print(f'- {snack}: {qty}개')

In [238]:
#서비스의 흐름 - 순차
box=make_snack_box()
print('간식박스가 만들어졌어요.')
display_snack_box(box)
box=multiply_snack_box(box)
display_snack_box(box)
summarise_snacks(box)

#검색후 삭제 가능
search_snack(box)
remove_snack_box(box)
display_snack_box(box)

먹고 싶은 간식을 추가하세요. 단 쉼표(,)로 연결하세요 빈츠

간식박스가 만들어졌어요.
['빈츠', '초코파이'], 총 2개 입니다.

간식박스를 몇 세트로 포장할까요? 예: 2-> 2박스 2

['빈츠', '초코파이', '빈츠', '초코파이'], 총 4개 입니다.
간식박스 정리
- 초코파이: 2개
- 빈츠: 2개

찾고싶은 간식을 입력하세요. 빈츠

있어요
['빈츠', '초코파이', '빈츠', '초코파이'], 총 4개 입니다.

혹시 빼고싶은 간식이 있으면 번호를 입력하세요 (0~3) 2

['빈츠', '빈츠', '초코파이'], 총 3개 입니다.

# 메뉴 형식으로 구조를 개편

In [239]:
# 선택, 반복

In [262]:
#-- 공통 유틸리티 함수

def get_valid_text_input(msg):
    user_input=input('😈'+msg).strip()
    if not user_input:
        print('😈입력값을 확인하세요')
        return None
    return user_input

# 숫자검증
def get_valid_number_input(msg, min_no=1,max_no=5):
    #숫자체크
    try:
        number=int(input(msg))
        if number < min_no:
            print(f'{min_no}이상 숫자를 입력하세요')
            return None
        elif number > max_no:
            print(f'{max_no}이하 숫자를 입력하세요')
            return None
        else:
            return number
    except ValueError:
        print('숫자로 입력하세요.')
        return None

In [263]:
#-- 기본 함수 정의
#1. 간식박스 생성 create
def make_snack_box():
    snack_box=['초코파이']
    make_msg='먹고싶은 간식을 추가하세요. 단, 쉼표(,)로 연결하세요.'
    new_snack= get_valid_text_input(make_msg).split(',')
    snack_box+=[item.strip() for item in new_snack]
    return snack_box

#2. 간식세트 포장 update
def multiply_snack_box(snack_box):
    mul_msg='간식박스를 몇 세트로 포장할까요? 예: 2 -> 2박스'
    qty=get_valid_number_input(mul_msg, 2, 5)
    return snack_box*qty

#6. 간식박스 전체보기 read
def display_snack_box(snack_box):
    print(f'{snack_box}, 총 {len(snack_box)}개 입니다.')

#3. 간식박스 미리보기 read - signature
def preview_snack_box(snack_box):
    preview=','.join(snack_box[:3])
    print(f'선택하신 간식은 {preview}입니다.')

#4. 간식삭제 delete
def remove_snack_box(snack_box):
    #예외처리
    if not snack_box:
        print('간식박스가 비어있어요.')
        return
        
    display_snack_box(snack_box)

    snack_count=len(snack_box)-1
    rem_msg=f'혹시 빼고싶은 간식이 있으면 번호를 입력하세요 (0~{snack_count})'
    snack_no=get_valid_number_input(rem_msg, 0, snack_count)
    
    del snack_box[snack_no]
    return box

#5. 간식찾기 search
def search_snack(snack_box):
    search_msg='찾고싶은 간식을 입력하세요.'
    snack_name=get_valid_text_input(search_msg)
    print('있어요' if snack_name in snack_box else '없어요')

#7. 간식박스 요약
def summarise_snacks(snack_box):
    summary={}
    for snack in snack_box:
        summary[snack]=summary.get(snack,0)+1

    print('간식박스 정리')
    for snack, qty in summary.items():
        print(f'- {snack}: {qty}개')

In [260]:
#서비스의 흐름 - 선택과 반복
def run_menu_program():
    snack_box=[]
    while True:
        print('간식박스 관리 프로그램 메뉴')
        print('1. 간식박스 생성')
        print('2. 세트 생성')
        print('3. 세트 미리보기')
        print('4. 간식 삭제')
        print('5. 간식 검색')
        print('6. 간식박스 요약')
        print('7. 최종 간식박스 확인')

        menu_msg='원하는 메뉴 번호를 입력하세요: '
        choice=str(get_valid_number_input(menu_msg, 1, 7))

        if choice=='1':
            snack_box=make_snack_box()
        elif choice=='2':
            snack_box=multiply_snack_box(snack_box)
        elif choice=='3':
            preview_snack_box(snack_box)
        elif choice=='4':
            remove_snack_box(snack_box)
        elif choice=='5':
            search_snack(snack_box)
        elif choice=='6':
            summarise_snacks(snack_box)
        elif choice=='7':
            display_snack_box(snack_box)

In [261]:
#실행
run_menu_program()

간식박스 관리 프로그램 메뉴
1. 간식박스 생성
2. 세트 생성
3. 세트 미리보기
4. 간식 삭제
5. 간식 검색
6. 간식박스 요약
7. 최종 간식박스 확인

원하는 메뉴 번호를 입력하세요:  1
😈먹고싶은 간식을 추가하세요. 단, 쉼표(,)로 연결하세요. 빈츠

간식박스 관리 프로그램 메뉴
1. 간식박스 생성
2. 세트 생성
3. 세트 미리보기
4. 간식 삭제
5. 간식 검색
6. 간식박스 요약
7. 최종 간식박스 확인

원하는 메뉴 번호를 입력하세요:  3

선택하신 간식은 초코파이,빈츠입니다.
간식박스 관리 프로그램 메뉴
1. 간식박스 생성
2. 세트 생성
3. 세트 미리보기
4. 간식 삭제
5. 간식 검색
6. 간식박스 요약
7. 최종 간식박스 확인

KeyboardInterrupt: Interrupted by user

# 람다 함수

선언 >> lambda <매개변수>: 코드 \
호출 >> (lambda <매개변수>: 코드) (매개변수값)

In [264]:
def aaa(a):
    result=a+1
    return result

In [265]:
lambda a: a+1

In [268]:
(lambda a: a+1)(2) #람다의 호출

3

In [269]:
my_lambda=lambda a: a+1 #람다의 재정의
my_lambda(3), my_lambda(4), my_lambda(130)

(4, 5, 131)

In [270]:
def sum1(a,b):
    return a+b
sum1(2,3)

5

In [272]:
(lambda a,b:a+b)(2,3)

5

In [274]:
def calc_func(a,b,opr_func):
    result=opr_func(a,b)
    return result

In [275]:
calc_func(1,2,lambda x,y:x+y)

3

In [276]:
calc_func(1,2,lambda x,y:x/y)

0.5

In [277]:
calc_func(1,2,lambda x,y:x*y)

2

In [278]:
calc_func(1,2,lambda x,y:x-y)

-1

In [297]:
#map 함수
fruits=['apple','banana','cherry']
#str.upper 
#fruits[0].upper()

list(map(str.upper, fruits)) #출력하고싶으면 리스트로 넣기

['APPLE', 'BANANA', 'CHERRY']

In [287]:
str_number='12345'
list(str_number) #문자열 리스트

['1', '2', '3', '4', '5']

In [288]:
int(list(str_number))

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'list'

In [293]:
numbers=list(map(int, str_number))
numbers

[1, 2, 3, 4, 5]

In [294]:
list(map(lambda x: x**2, numbers))

[1, 4, 9, 16, 25]

In [298]:
kor_score=[1,2,3]
eng_score=[4,5,6]
math_score=[7,8,9]

list(map(lambda x,y,z: x+y+z, kor_score, eng_score, math_score))

[12, 15, 18]

In [310]:
#합계, 평균, 최대값, 최소값

kor_score=[1,2,3]
eng_score=[4,5,6]
math_score=[7,8,9]

print(list(map(lambda s: sum(s), zip(kor_score, eng_score, math_score)))) #Total
list(map(lambda s: sum(s)/3, zip(kor_score, eng_score, math_score))) #Average
list(map(lambda s: sum(s), zip(kor_score, eng_score, math_score))) #Maximum
list(map(lambda s: sum(s)/3, zip(kor_score, eng_score, math_score))) #Minimum

[12, 15, 18]

[4.0, 5.0, 6.0]

In [1]:
# 리스트 컴프리헨션의 필터
numbers=[1,2,3,4,5]

[x for x in numbers if x%2==0]

[2, 4]

In [3]:
# 필터함수
list(filter(lambda x: x%2==0, numbers))

[2, 4]

In [6]:
#numbers를 제곱하고, 그 중에 짝수만 리스트로 리턴
list(filter(lambda x: x%2==0, map(lambda x: x*x, numbers)))

[4, 16]

In [7]:
#sorted 함수

In [10]:
numbers=[3,1,5,4,7,2,8,6,9]
numbers.sort()
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [17]:
numbers=[3,1,5,4,7,2,8,6,9]
nums=sorted(numbers,reverse=True)
nums

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [18]:
numbers

[3, 1, 5, 4, 7, 2, 8, 6, 9]

In [21]:
numbers1=[-3,1,5,-6,-8]
sorted(numbers1, key=abs) #code

[1, -3, 5, -6, -8]

In [26]:
words=['apple','banana','tomato','blueberry']
sorted(words)

['apple', 'banana', 'blueberry', 'tomato']

In [27]:
sorted(words, key=len, reverse=True)

['blueberry', 'banana', 'tomato', 'apple']

In [29]:
#마지막글자의 순
sorted(words, key=lambda w: w [-1])

['banana', 'apple', 'tomato', 'blueberry']

In [31]:
#튜플의 요소기준 정렬
data=[(1,4),(2,3),(3,2)]
sorted(data, key=lambda x:x[1])

[(3, 2), (2, 3), (1, 4)]

In [39]:
# 이름, 나이, 점수
students=[('Alice',20,85),('Bob',22,90),('Charlie',21,78)]

# 나이 기준으로 정렬
# 높은 점수순으로 정렬

print(sorted(students, key=lambda a:a[1]))
sorted(students, key=lambda a:a[2], reverse=True)

[('Alice', 20, 85), ('Charlie', 21, 78), ('Bob', 22, 90)]

[('Bob', 22, 90), ('Alice', 20, 85), ('Charlie', 21, 78)]