<a href="https://colab.research.google.com/github/zzhining/python_basic/blob/master/exercise/%ED%95%A8%EC%88%98_%EB%9E%8C%EB%8B%A4_%EB%AC%B8%EC%9E%90%EC%97%B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. 두 수를 입력 받아 그 곱을 반환하는 함수를 작성하세요.

In [1]:
#답을 작성하세요.
def multiply_numbers(a, b):
    return a*b

In [2]:
#테스트
print(multiply_numbers(3, 5))  #15

15

2. 숫자 리스트를 입력 받아 평균을 반환하는 함수를 작성하세요.

In [35]:
#답을 작성하세요.
calc_average = lambda numbers: sum(numbers)/len(numbers)

In [36]:
#람다로 정의

In [37]:
#테스트
print(calc_average([10, 20, 30, 40, 50])) #30

30.0

3. 주어진 숫자가 짝수이면 True, 홀수이면 False를 반환하는 함수를 작성하세요.

In [47]:
#답을 작성하세요.
is_even=lambda n: True if n%2==0 else False

In [48]:
#람다버전

In [50]:
# 테스트
print(is_even(14))  # True
print(is_even(19))  # False

True
False

4. 주어진 리스트의 모든 요소를 문자열로 변환하여 반환하는 함수와, 람다 함수를 작성하세요.

In [60]:
#함수 정의
def to_string_list(lst):
    result=[] #결과 누적
    #리스트의 요소를 하나씩 꺼내서 문자열로 변환
    for item in lst:
        result.append(str(item))
    #result에 추가

    return result

In [66]:
#답을 작성하세요.
to_string_list1 = lambda lst:list(map(str,lst))
to_string_list1

In [67]:
# 테스트
print(to_string_list([1, 2, 3, 4, 5]))  # ['1', '2', '3', '4', '5']

['1', '2', '3', '4', '5']

In [69]:
to_string_list1([7,8,9])

['7', '8', '9']

5. 두 문자열을 입력받아 합친 문자열을 반환하는 함수와 람다 함수를 작성하세요.

In [86]:
def concat_strings(s1, s2):
    return s1+s2

(lambda s1,s2:s1+s2)('Hello',' World!')

'Hello World!'

In [87]:
# 테스트
print(concat_strings("Hello, ", "World!"))  # "Hello, World!"

Hello, World!

In [89]:
concat_strings1=lambda s1, s2:s1+s2
concat_strings1('가나다','마바사')

'가나다마바사'

6. 주어진 문자열에서 모든 모음(a,e,i,o,u)을 제거한 문자열을 반환하는 함수를 작성하세요.

In [98]:
#답을 작성하세요.
def remove_vowels(s):
    result=''
    for ch in s: 
        if ch not in 'aeiou':
            result+=ch
    return result

In [102]:
def remove_volwels1(s):
    return ''.join([ ch for ch in s if ch not in 'aeiou'])

In [103]:
remove_vowels2 = lambda s: ''.join([ ch for ch in s if ch not in 'aeiou'])

In [105]:
# 테스트
print(remove_vowels2("abcdefghijklmnopqrstuvwxyz"))  # "bcdfghjklmnpqrstvwxyz"

bcdfghjklmnpqrstvwxyz

7. 문자열을 입력 받아, 해당 문자열에서 가장 긴 단어와 길이를 반환하는 함수를 작성하세요.

In [108]:
#답을 작성하세요.
def find_longest_word(s):
    words=s.split()
    longest=words[0]
    max_len=len(longest)
    
    for w in words[1:]:
        if len(w)>max_len:
            longest=w
            max_len=len(w)

    return longest, max_len

In [110]:
def find_longest_word1(s):
    words=s.split()
    longest=max(words,key=len)
    return longest, len(longest)

In [112]:
find_longest_word2 = lambda s: max([(w, len(w)) for w in s.split()], key=lambda x: x[1])

In [113]:
# 테스트
print(find_longest_word2("Life is for one generation a good name is forever."))  # "generation", 10

('generation', 10)

8. 주어진 문자열에서 숫자와 문자를 분리하는 함수를 작성하세요.

In [118]:
#답을 작성하세요.
def split_numbers_letters(s):
    # 1. 숫자를 담을 리스트, 문자를 담을 리스트를 만든다.
    numbers = []
    letters = []

    for ch in s:
        if ch.isdigit():
            numbers.append(int(ch))
        elif ch.isalpha():
            letters.append(ch)
    return numbers, letters

In [120]:
def split_numbers_letters1(s):
    numbers=[int(ch) for ch in s if ch.isdigit()]
    letters=[ch for ch in s if ch.isalpha()]

    return numbers, letters

In [123]:
def split_numbers_letters2(s):
    numbers=list(map(int, filter(lambda ch: ch.isdigit(),s)))
    letters=list(filter(lambda ch: ch.isalpha(),s))

    return numbers, letters

In [124]:
# 테스트
print(split_numbers_letters2("a1b2c3d4")) # ["a", "b", "c", "d"], [1, 2, 3, 4]

([1, 2, 3, 4], ['a', 'b', 'c', 'd'])

9. 주어진 문자열(알파벳)을 입력 받아, 각 알파벳의 종류와 개수를 dict형으로 반환하는 함수를 만드세요.

In [125]:
#답을 작성하세요.
def count_alphabets(s):
    count_dict={}

    for ch in s:
        if ch in count_dict:
            count_dict[ch] += 1
        else:
            count_dict[ch] = 1
    return count_dict

In [127]:
def count_alphabets1(s):
    #딕셔너리 컴프리헨션
    return {ch:s.count(ch) for ch in s}

In [128]:
# 테스트
print(count_alphabets("hello"))  # {"h": 1, "e": 1, "l": 2, "o": "1"}

{'h': 1, 'e': 1, 'l': 2, 'o': 1}